---
import '../styles/global.css'
import  SpeedInsights  from "@vercel/speed-insights/astro"

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>bruce moerdjiman</title>

		<link rel="preconnect" href="https://fonts.bunny.net">
	</head>
	<body class="bg-[#283136]">
		<slot />
	</body>
	<SpeedInsights/>
</html>

